.Header a, .Header-mobile-link a {
  color: white;
}

.Header-mobile-link a {
  color: black;
}

.Header-buttons {
  flex-grow: 1;
  text-align: right;
}

.mobile-menu {
  display: none !important;
}


@media only screen and (max-width: 600px) {
  .mobile-menu {
    display: block !important;
  }
  .Header-buttons  {
    display: none;
  }
}